# --- ADD THESE ---

# Environment Variables
.env
*.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
.vite
.turbo
.vercel
.netlify

# TypeScript 
*.tsbuildinfo
package-lock.json

.AppleDouble
.LSOverride
Icon
Network Trash Folder
Temporary Items
.apdisk
node_modules
